@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cadastro</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/tema/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/tema/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/tema/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/tema/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/tema/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/tema/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/tema/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/tema/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/tema/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/tema/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form p-l-55 p-r-55 p-t-178">
                    <span class="login100-form-title">
                        Cadastre-se
                    </span>
                    <div class="wrap-input100 validate-input m-b-16">
                        <input class="input100" type="text" name="username" placeholder="Email" id="email_novo">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="password" name="pass" placeholder="Senha" id="senha_novo">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="button" onclick="cadastrar()">
                            Salvar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!--===============================================================================================-->
    <script src="~/tema/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/tema/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/tema/vendor/bootstrap/js/popper.js"></script>
    <script src="~/tema/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/tema/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/tema/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/tema/vendor/daterangepicker/daterangepicker.js"></script>    
    <script src="~/tema/vendor/countdowntime/countdowntime.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    
    <script>

        function cadastrar() {

            var email = $("#email_novo").val();
            var senha = $("#senha_novo").val();

            $.post("Cadastrar", { email: email, senha: senha }, function (data) {

                if (data === true) {

                    Swal.fire({
                        icon: 'success',
                        title: 'Usuario cadastrado!'
                    }).then(function () {
                        document.location.href="Index"
                    });
                }
                else {

                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Ocorreu um erro ao salvar!'
                    });
                }

                
            });
        }

    </script>


</body>
</html>